/*  GLOBAL CSS */

@media (max-width: 800px){
 
    .header-brand .header-small{
       text-align: center !important;
       padding:0 !important;
       margin:0 !important;
       font-size:18
    }

    .top-header .header-btns {
        text-align: center;
    }

}

#topNav{
    font-size: 24px !important;
    
}


.top-header{
    font-size: 18px;
}
.header-brand{
    font-size: 22px;
}

.top-header .header-small{
    font-size: 16px;
}
.separator{
    font-size: 22px !important;
}


/* ABOUT ME CSS */
.about-image{
    width:85%;
}   
.guitar-pic{
    width: 35%;
    float: right;
}

/* PORTFOLIO CSS */
 
